.hero {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;

    &__title {
        height: 30vw;
        padding-bottom: 24px;
        display: flex;
        align-items: end;

        @media (max-width: 768px) {
            height: 170px;
        }

        &__img {
            width: 600px;
            height: 300px;

            @media (max-width: 768px) {
                width: 200px;
                height: 100px;
            }

            @media (min-width: 769px) and (max-width: 1024px) {
                width: 358.39px;
                height: 179.19px;
            }

            @media (min-width: 1025px) and (max-width: 1280px) {
                width: 448px;
                height: 224px;
            }

        }
    }
}