.nav {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 36px;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(#0e0b14,  0);

    &__logo { 
        &__img {
            width: 86px;
            height: 48px;
        }
    }

    &__buttons {
        display: flex;
    }
}